**.aux
**.bbl
**.bcf
**.blg
**.fdb_latexmk
**.fls
**.log
**.out
**.pdf*
**.run.xml
**.synctex.gz
**.dvi
**.bbl
**.toc
**-SAVE-ERROR

**/*.4ct
**/*.4tc
**/*.idv
**/*.lg
**/*.lof
**/*.tmp
**/*.xref
**/*.soc
**/*.snm
